.sessionList {
    display: flex;
    flex-wrap: wrap;
}

.sessionCard {
    margin:7px;
    height: 260px;
    flex: 1 0 260px;

    > a {
        text-decoration: none;
        color:inherit;
    }
}
