$margin: 7px;
$minwidth: 260px;
$sidebar: 205px;

@mixin setMaxWidthForNColumns($n) {
    $doubleMargin: $margin * 2;
    $cardWidth: $minwidth + $doubleMargin;
    $percentageWidth: 100% / $n;

    $minWidth: $cardWidth * $n + $sidebar;

    @media (min-width: $minWidth) {
        max-width: calc(#{$percentageWidth} - #{$doubleMargin});
    }
}

.sessionList {
    display: flex;
    flex-wrap: wrap;
}

.sessionCard {
    margin: $margin;
    height: 280px;
    flex: 1 0 $minwidth;

    @include setMaxWidthForNColumns(2);
    @include setMaxWidthForNColumns(3);

    > a {
        text-decoration: none;
        color: inherit;
    }
}
