.sessionCard {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.speakerImage {
    z-index: 2;
    text-align: center;
    img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
	    -webkit-border-radius: 35px;
	    -moz-border-radius: 35px;
        border: 2px solid #fff;
    }
}

.speakerDetails {
    z-index: 1;
    flex: 0 0 75px;
    margin-top:-50px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speakerName {
    font-size: 24px;
}

.speakerRating {
    font-size:20px;
}

.sessionDetails {
    padding:10px;
    background-color: #fff;
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sessionTitle {
    flex: 1 1 0;
}

.eventDate {
    color: #999;
    font-size:12px;
    display: flex;
    align-items: center;
}

.clock {
    font-size: 15px !important;
    color: #999 !important;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.footer {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;

    > div {
        font-size: 12px;
        line-height:16px;
    }
}

.lighter {
    color: #999;
}

.admin {
    display: flex;
    align-items: center;
}

.adminImage {
    margin-right: 3px;
    img {
        width: 30px;
        height: 30px;
    }
}

.lastContact {
    text-align: right;
}

// .sessionCard {
//     width: 100%;
//     height: 100%;
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
//
// .body {
//     padding-top: 20px;
//     padding-right: 21px;
//     padding-left: 18px;
// }
//
// .header {
//     background-color: #fbfbfb;
//     height: 50px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     padding-right: 10px;
// }
//
// .adminImg {
//     width: 50px;
//     align-self: stretch;
//
//     img {
//         height: 100%;
//     }
// }
//
// .adminName {
//     flex-grow: 1;
//     margin-left: 10px;
//     font-size: 14px;
//     font-family: 'Roboto', sans-serif;
//     color: #585757;
// }
//
// .rating {
//     margin-top: 8px;
//     margin-bottom: 5px;
// }
//
// .title {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 300;
// }
//
// .footer {
//     height: 82px;
//     text-align: center;
//     color: #fff;
//     font-family: 'Roboto', sans-serif;
// }
//
// .speakerName {
//     font-size: 24px;
//     margin-top: 15px;
// }
//
// .lastContact {
//     font-size: 13px;
//     margin-top: 3px;
//     font-weight: 300;
// }
//
// .date {
//     font-weight: 400;
// }
