$fullWidth: 1200px;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    margin: 0;
    overflow-y: scroll;
}

.content {
    max-width: $fullWidth;
    margin: 0 auto;
    padding-top: 20px;
}
