$sidebarWidth: 185px;
$sessionListMinWidth: 274px;

.sessions {
    display: flex;
    min-width: $sessionListMinWidth + $sidebarWidth;
}

.sessionList {
    flex: 1 1 $sessionListMinWidth;
}

.dashboardSidebar {
    flex: 0 0 $sidebarWidth;
    margin-left: 20px;
}
